@model IEnumerable<IndoriTadka.Data.Models.Restaurant>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
neema.pranay23@gmail.com@Model.Count()  <!--Razor view have some special case to determine email address-->
neema.pranay23@gmail.com@(Model.Count()) <!--use parentheses if you want to expelicit want to treat statement as C#-->
@@pranay <!--escape @@ size and not treated as C# code-->
@Model.Count() <!--Encode in HTML to prevent  cross-site scripting-->
@Html.Raw("<div>") <!--This will not encode the data into html-->  

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    @:text <!--Static text, not C# code-->
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
